<!doctype html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/1793812fc1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/css/bootstrap.css">
    <link rel="stylesheet" href="style/css/style.css">
    <link rel="icon" href="images/favicon.ico"  type="image/x-icon">
    <title>WorkPortal | {{titlePage}}</title>
</head>
<body>
{{>header}}
{{#if message}}
    {{>error}}
{{/if}}
<main>
    {{{ body }}}
</main>
<footer>
    {{>footer}}
</footer>
</body>
</html>
